name: Update pull request for flatpak

run-name: Build ONLYOFFICE_DesktopEditors-${{ github.event.inputs.version }}-${{ github.event.inputs.build }}

on:
  workflow_dispatch:
    inputs:
      version:
        type: string
        description: 'Version'
        required: true
      build:
        description: 'Build number'
        type: string
        required: true

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Check out Git repository
      uses: actions/checkout@v4
      with:
        ref: ${{ endsWith( github.event.inputs.version, '.0') == 1 && 'release' || 'hotfix' }}/v${{ github.event.inputs.version }}

    - name: Replace Version and Build Number
      id: repl
      run: |
        VERSION=${{ github.event.inputs.version }}
        BUILD_NUMBER=${{ github.event.inputs.build }}
        DATE=$(date --iso-8601)
        echo "replace version"
        sed -i -r "/url/s/([0-9]+).([0-9]+).([0-9]+)/${VERSION}/" ./org.onlyoffice.desktopeditors.json
        echo "replace build number"
        sed -i -r "/url/s/-([0-9]+)-/-${BUILD_NUMBER}-/" ./org.onlyoffice.desktopeditors.json
        echo "replace link to archive to test"
        sed -i -e '/url/s|http://download.onlyoffice.com/install|https://s3.eu-west-1.amazonaws.com/repo-doc-onlyoffice-com|' ./org.onlyoffice.desktopeditors.json
        sed -i -e '/url/s|editors/linux|linux/generic|' ./org.onlyoffice.desktopeditors.json
        sed -i -e "/url/s|-x64|-${BUILD_NUMBER}-x86_64|" ./org.onlyoffice.desktopeditors.json
        sed -i -r "/url/s|(-[0-9]*)?-aarch64|-${BUILD_NUMBER}-aarch64|" ./org.onlyoffice.desktopeditors.json
        echo "download file from this url"
        FILES=$(cat ./org.onlyoffice.desktopeditors.json | grep "url" | awk -F'["]' '{print $(NF-1)}')
        echo "FILES=$FILES"
        FILE_AMD64=$(echo $FILES | tr ' ' '\n' | grep x86_64)
        FILE_ARM64=$(echo $FILES | tr ' ' '\n' | grep aarch64)
        echo "FILE_AMD64=$FILE_AMD64"
        echo "FILE_ARM64=$FILE_ARM64"
        wget --progress=dot:giga $FILE_AMD64
        wget --progress=dot:giga $FILE_ARM64
        echo "replace shasums"
        SHASUM_AMD64=$(sha256sum $(basename $FILE_AMD64) | awk -F'[ ]' '{print $(1)}')
        SHASUM_ARM64=$(sha256sum $(basename $FILE_ARM64) | awk -F'[ ]' '{print $(1)}')
        OLD_SHASUM_AMD64=$(cat ./org.onlyoffice.desktopeditors.json | grep only-arches.*x86_64 -C 2 | grep sha256 | awk -F'"' '{print $4}')
        OLD_SHASUM_ARM64=$(cat ./org.onlyoffice.desktopeditors.json | grep only-arches.*aarch64 -C 2 | grep sha256 | awk -F'"' '{print $4}')
        sed -i -r "s|${OLD_SHASUM_AMD64}|${SHASUM_AMD64}|" ./org.onlyoffice.desktopeditors.json
        sed -i -r "s|${OLD_SHASUM_ARM64}|${SHASUM_ARM64}|" ./org.onlyoffice.desktopeditors.json
        echo "replace matainfo"
        sed -i -r "/release version/s/([0-9]+).([0-9]+).([0-9]+)/${VERSION}/" ./org.onlyoffice.desktopeditors.metainfo.xml
        sed -i -r "/release version/s/([0-9]+)-([0-9]+)-([0-9]+)/${DATE}/" ./org.onlyoffice.desktopeditors.metainfo.xml
        echo "commit changes"
        git config user.name "github-actions[bot]"
        git config user.email "41898282+github-actions[bot]@users.noreply.github.com"
        git commit -m "Update version to ${VERSION}-${BUILD_NUMBER}" -a
        git push

